<div class="storywrapperlarge">
<h1>Privacy Statement</h1>
<p>The Ontario Liberal Party is committed to respecting your privacy and protecting your personal information. This Privacy Statement explains the current information management practices at our websites.</p>

<p>The handling of all personal information by the Ontario Liberal Party is governed by the Freedom of Information and Protection of Privacy Act (FIPPA). We are committed to protecting your privacy whether you are browsing for information or conducting business with us electronically.</p>

<p>When you visit our website, we will not collect your personal information unless you choose to use and receive online products and services that require it. For transactions involving credit cards, we use up-to-date security protocols to ensure the integrity and confidentiality of information and systems</p>

</div>