
<h1>Privacy Statement</h1>
<p>The Ontario Liberal Party is committed to respecting your privacy and 
protecting your personal information. This Privacy Statement explains 
the current information management practices at our websites.</p>

<p>The handling of all personal information by the Ontario Liberal Party 
is governed by the Freedom of Information and Protection of Privacy Act 
(FIPPA). We are committed to protecting your privacy whether you are browsing 
for information or conducting business with us electronically.</p>

<p>When you visit our website, we will not collect your personal information 
unless you choose to use and receive online products and services that 
require it. For transactions involving credit cards, we use up-to-date 
security protocols to ensure the integrity and confidentiality of information 
and systems</p>


<h2>Financial information</h2>
<p>OntarioLiberal.ca does not store credit card numbers.
When making a donation your information is passed to the 
payment processor using asymmetric cryptography, where your 
transaction is either approved or denied by your credit card 
issuer.</p>

<p>The Ontario Liberal Party is required by law to report,
donations in excess of xx, to Elections Ontario</p>



<h2>MyLiberal Facebook Authentication App</h2>

<p>The MyLiberal Facebook app is used to confirm the authenticity of
the email address you've provided and to allow you to fill 
in the account creation form more quickly. In installing the app you
grant the app similar permissions you would allow a friend. You can 
uninstall the app at any time if you wish. Instructions for removing the app are below.</p> 

<p>You're free to create an account with OntarioLiberal.ca without 
authenticating through facebook. Just remeber to watch your 
inbox for a confirmation link. You'll have to click on the link to 
confirm ownership of the email address you've submitted.</p>

<p>By confirming control of the email address you've submitted 
(authenticating), either via facebook authentication or by 
responding to the confirmation email we send, you help us 
ensure that you are who you claim to be and have a right to 
view information associated with your email address, like your 
membership status for example. If your email is compromised, 
remember to call the office and let us know so we can shut 
down the associated account.</p>

<p>The MyLiberal app asks for permission to access specific 
details in your facebook profile. This isn't much different 
than the permissions you grant to friends when you accept a 
friend request. If you don't wish to provide us this 
information simply decline and fill in the account fields 
manually.</p>

<p>Specifically, our app asks permission to access the following 
facebook fields: email, birthday, user_religion_politics, 
user_relationships, user_hometown, user_location, user_likes, 
user_friends and friends_birthday.</p>

<p>The app asks for email because it eliminates the need to send you an 
email to ask you to confirm your email. You've proven ownership 
of that email address to facebook already. Authenticating your 
email stops impersonators. This process stops a malicous user from 
pretending to be you by creating an account with your email address.</p>

<p>We ask for birthday because we offer discounts on membership, 
AGM registration and selected events based on age.</p>

<p>We ask for user_religion_politics because we'd like to be able to 
send you appropriate holiday greetings.</p>

<p>Facebook's User_relationships field tells us the name of your 
spouse if you've made that information available to your
facebook friends. This is useful since many couples like to 
purchase tickets and memberships together or, on behalf of one another. 
The constitution prohibits one person purchasing a membership 
for a non-family member, so adding familial relationships to our 
database will allow us to put some transactions into 
context, stay compliant and prevent confusion on our end.</p>

<p>Facebook's user_hometown tells us your hometown, but only if 
you've added that information to your facebook profile.<p>

<p>User_hometown and user_location can assist us in determining
   what localized content might be relevant to you on our website. 
   Many Liberals feel a connection both to their current riding, 
   and to the riding they grew up in.</p>

<p>Facebook's user_likes tell us what you've liked. In aggregate 
this can draw our attention to things on facebook that we might 
want to pay more attention to. Trending causes or petitions 
that liberals identify through likes, will get our attention 
more rapidly.</p>

<p>Facebook user_friends gives us a list of your friends in 
precisely the same way you can see your friends, friends. It 
doesn't give us access to details about your friends, just 
their name on facebook. Although we're not there yet, we hope 
to be able to use those connections in the future in order to 
coordinate social activities and volunteer activities - 
grouping volunteers by friend connections for instance, or 
showing you which of your friends have registered for an event.</p>

<p>Friends_birthday gives us your friends birth month and day and 
occassionally birth year (where they've chosen to share this 
information with you).</p>

<h2>Uninstalling the MyLiberal App</h2>
<p>Log into your facebook profile and go to 
<a href="https://www.facebook.com/appcenter/my">https://www.facebook.com/appcenter/my</a>. 
This will give you a list of all the apps you've installed on 
your facebook profile. Simply mousover the MyLiberal App 
and an x will appear in the top right corner of the cell. 
Click to delete.<p>







