<h1 class="pagetitle">Taxable Benefits</h1>

<h3>Tax Credit - Individuals:</h3>
<p>The annual contribution levels and resulting Ontario political
contribution tax credits are indexed based on requirements specified in
the Elections Finances Act.</p>

<p>The formula is:</p>
<ul style="list-style-position: inside; margin-left: 14px;">
<li>75% of the first $372, plus </li>
<li>50% of the next $868, plus </li>
<li>33.33% of an amount exceeding $1,240, but not more than $2,821</li>
</ul>

<p>The maximum yearly Ontario political contribution tax credit is $1,240
which is reached when you have made eligible contributions totalling
$2,821. The tax credit is refundable. This means that if your total
amount of tax credits is more than your taxes owing, the Canada Revenue
Agency will issue a refund based on the difference. </p>

<p>To be eligible for a tax credit you must be an Ontario resident and
you must have made eligible contributions to a registered Ontario
political party, registered, constituency association or to a candidate
in an Ontario provincial election during that year.</p>

<p>Either spouse or common-law partner may claim the Ontario political
contribution tax credit. This tax credit can only be claimed for the
year in which the contribution was made.</p>

<h3>Tax Credit - Corporations:</h3>
<p>Tax credit available for corporations making eligible Ontario
political contributions under the Corporations Tax Act is non-refundable
tax credit under the Taxation Act, 2007.</p>

<p>The maximum tax credit that a corporation can claim in a year is
$2,604 based on political contributions at the annual limit of $18,600.
Any contributions exceeding the annual limit will be carried forward to
a subsequent taxation year, but will be limited to the annual ceiling
for that year.</p>


<%# pass in pageimageholder background class and main column id and submenu %>
<% content_for :backgroundclass do %>wynne_kids<% end %>	
<% content_for :main_id do %>main_taxable_benefits<% end %>
