<h1>TaxableBenefits</h1>


<h3>Who Can Contribute</h3>
<p><strong>Under Ontario's Election Finances Act, the Ontario Liberal
Party may only accept contributions from individuals, unions that hold
bargaining rights for Ontario workers, and corporations that carry on
business in Ontario and are not registered charities.</strong></p>
<p>In addition to these legal requirements, the Ontario Liberal Party
does not accept contributions from hospitals, colleges, universities,
municipalities, or from any organization that receives public funding
except as payment for services rendered or goods provided. If you fall
within one of these categories, please do not make a contribution.</p>

<h3>Contribution Limit:</h3>
<p>In each year, any person, corporation or trade union may contribute up
to $9,300 to Ontario Liberal Party. Also, you may contribute up to
$1,240 to any of our constituency association, but the total
contribution to all Ontario liberal constituency associations must not
exceed $6,200. This means the maximum annual political contribution
allowed in a non-election year is $15,500 to each registered party and
its constituency associations. </p>

<p>During an election you may make extra contributions. At
election time, you may give up to an additional $9,300 to Ontario
Liberal Party and up to $1,240 to any Ontario Liberal Party candidate
so long as the total contribution to all Ontario Liberal Party
candidates does not exceed $6,200.</p>

<table border="1" width="500">
<tbody>
<tr>
<th align="center">Maximum Contributions </th>
<th colspan="2" align="center">Annually </th>
<th colspan="2" align="center">Extra During a <br>
Campaign Period </th>
</tr>
<tr>
<th>&nbsp; </th>
<th align="center">Each </th>
<th align="center">Total </th>
<th align="center">Each </th>
<th align="center">Total </th>
</tr>
<tr>
<td>To Provincial Party </td>
<td colspan="2" align="center">$9,300 </td>
<td colspan="2" align="center">$9,300 </td>
</tr>
<tr>
<td>To Constituency Association </td>
<td align="center">$1,240 </td>
<td align="center">$6,200 </td>
<td colspan="2" align="center">NIL </td>
</tr>
<tr>
<td>To Candidate </td>
<td colspan="2" align="center">NIL </td>
<td align="center">$1,240 </td>
<td align="center">$6,200 </td>
</tr>
</tbody>
</table>
<br>

<h3>Tax Credit - Individuals:</h3>
<p>The annual contribution levels and resulting Ontario political
contribution tax credits are indexed based on requirements specified in
the Elections Finances Act.</p>

<p>The formula is:</p>
<ul style="list-style-position: inside; margin-left: 14px;">
<li>75% of the first $372, plus </li>
<li>50% of the next $868, plus </li>
<li>33.33% of an amount exceeding $1,240, but not more than $2,821</li>
</ul>

<p>The maximum yearly Ontario political contribution tax credit is $1,240
which is reached when you have made eligible contributions totalling
$2,821. The tax credit is refundable. This means that if your total
amount of tax credits is more than your taxes owing, the Canada Revenue
Agency will issue a refund based on the difference. </p>

<p>To be eligible for a tax credit you must be an Ontario resident and
you must have made eligible contributions to a registered Ontario
political party, registered, constituency association or to a candidate
in an Ontario provincial election during that year.</p>

<p>Either spouse or common-law partner may claim the Ontario political
contribution tax credit. This tax credit can only be claimed for the
year in which the contribution was made.</p>

<h3>Tax Credit - Corporations:</h3>
<p>Tax credit available for corporations making eligible Ontario
political contributions under the Corporations Tax Act is non-refundable
tax credit under the Taxation Act, 2007.</p>

<p>The maximum tax credit that a corporation can claim in a year is
$2,604 based on political contributions at the annual limit of $18,600.
Any contributions exceeding the annual limit will be carried forward to
a subsequent taxation year, but will be limited to the annual ceiling
for that year.</p>
