<ul id="attachments">
  <%= render @document.attachments %>
</ul>

<br />
<div id="form_placeholder"></div>

<%= link_to 'Add Pdf', new_admin_document_attachment_path(@document.id), id: 'new_link', remote: true %>