// Display a Javascript alert
console.log('create.js');
$('.error').remove();
<% if @attachment.valid? %>
    $("#attachments").append("<%= j render @attachment %>");
    $("#myModal").modal('hide');
    $("#document_id").val('<%= @document.id %>');
<% else %>
    <% @attachment.errors.each do |key, value| %>
        $('#attachment_<%= key.to_s %>').before('<div class="error"><%= key.to_s + ' ' + value %></div>');
    <% end %>
<% end %>




