<h1 class="pagetitle">History</h1>


<h3>The Foundation of the Party</h3>
<p>Ontario Liberals have a long tradition of working to improve the lives of all Ontarians, from the party's pre-Confederation roots as a force for equality and democracy, to the Wynne Liberals of today. 
</p><p>The Ontario Liberal Party has its roots in the Reform Party of William Lyon Mackenzie and Robert Baldwin, who fought for real democracy in the 1830s and 1840s against the elitist, conservative rule of the Family Compact. 
</p><p>The party as we know it today was founded by George Brown - owner of the Toronto Globe and a key figure in uniting Upper and Lower Canada. 
</p>
<p>In 1868, Edward Blake, elected from South Bruce, became the leader of the Ontario Liberal Party and three years later defeated the Conservative government to become Ontario's first Liberal Premier. He left provincial politics in 1872, but was able to establish a Liberal dynasty that served Ontario until 1905. 
</p><p>Kingston-born Oliver Mowat, one of Ontario's most notable premiers, followed Blake as party leader. 
</p><p>Mowat built a pragmatic and moderate Liberal Party. He was one of the few politicians at the time able to bring together Protestants and Catholics and those living in cities and rural communities. 
</p><p>After more than three decades of power, the Ontario Liberal Party was returned to opposition, but continued to hold the government of the day accountable on issues of social and economic importance, bringing forward many positive solutions to the problems facing Ontario's residents. 
</p>


<h3>Early 20th Century</h3>
<p>In 1930, under the leadership of Mitchell Hepburn, a farmer from Elgin County, the Ontario Liberal Party returned to prominence. 
</p><p>Elected Premier in 1934, Hepburn introduced strategies and programs designed to better the lives of all Ontarians under common Liberal values. He brought order to provincial finances and improved labour legislation. He is said to have regarded the compulsory pasteurization of milk as his greatest accomplishment. 
</p><p>Hepburn was followed briefly by two more Liberal premiers, Gordon Conant and Harry Nixon, who served until 1943. 
</p><p>What followed were long years in opposition until 1985 when, under the leadership of David Peterson, the party successfully brought down the Progressive Conservative government with support of the NDP in a coalition. 
</p>

<h3>The Return to Power</h3>
<p>In 1987, the charismatic and energetic Peterson led the Ontario Liberals to a majority government, winning 95 out of 130 seats. 
</p><p>Under Peterson's leadership the Liberals brought forward vital reforms, including the introduction of historic pay equity provisions, pension reform and sweeping environmental legislation. Peterson ruled as Premier until September 1990. 
</p>

<h3>The McGuinty Years</h3>
<p>Ontario Liberals returned to power in 2003, under the leadership of Dalton McGuinty. 
</p><p>The McGuinty-led Ontario Liberals inherited a province deep in debt, with the public education and health systems struggling from years of neglect and much of the province's infrastructure in decay. 
</p><p>The McGuinty Liberals turned that around by bringing peace and stability to classrooms, shortening wait times in hospitals and making major investments to support and strengthen the economy. 
</p><p>On October 10 2007, Premier McGuinty and his Ontario Liberals won a consecutive majority government, the first Liberal Premier to achieve such success in 70 years. 
</p><p>Four years later, after providing strong, steady leadership during the worst global recession since the 1930s, continued improvement in health and education, protection of jobs and the creation of new jobs through investment and innovation, the McGuinty-led Liberals were elected to a third-consecutive term. 
</p>

<h3>The Way Forward</h3>
<p>After Premier McGuinty stepped down as leader, the Party held a leadership race and elected Kathleen Wynne as the new Ontario Liberal Leader, making her the 25th Premier of Ontario.
</p><p>Today we continue on in the best tradition of the early party – whether investing in public health care to make wait times in Ontario the shortest in Canada, introducing the first full-day kindergarten to help both parents and students, or helping to make Ontario a North American leader in clean technology – attracting more, higher paying jobs for Ontario families. 
</p><p>The words of Liberal Prime Minister Sir Wilfred Laurier a century ago ring true for Ontario Liberals today: “I am a liberal. I am one of those who think that everywhere in human beings, there are abuses to be reformed, new horizons to be opened up, and new forces to be developed.” </p>

<h3>Leaders</h3>


<div style="width:50%; float:left;">

<h4>Leaders of the Ontario Liberal Party</h4>

<p class="listh3">George Brown <span class="detail small">1857-1867</span></p>
<p class="listh3">Archibald McKellar <span class="detail">1867-1868</span></p>
<p class="listh3">Edward Blake <span class="detail">1868-1872</span></p>
<p class="listh3">Sir Oliver Mowat <span class="detail">1872-1896</span></p>
<p class="listh3">Arthur S. Hardy <span class="detail">1896-1899</span></p>
<p class="listh3">Sir George William Ross <span class="detail">1899-1907</span></p>
<p class="listh3">George P. Graham <span class="detail">1907</span></p>
<p class="listh3">A.G. MacKay <span class="detail">1907-1911</span></p>
<p class="listh3">Newton Wesley Rowell <span class="detail">1911-1917</span></p>
<p class="listh3">William Proudfoot <span class="detail">1918-1919</span></p>
<p class="listh3">Hartley Dewart <span class="detail">1919-1921</span></p>
<p class="listh3">Wellington Hay <span class="detail">1922-1923</span></p>
<p class="listh3">W.E.N. Sinclair <span class="detail">1923-1930</span></p>
<p class="listh3">Mitchell Hepburn <span class="detail">1930-1942</span></p>
<p class="listh3">Gordon Daniel Conant <span class="detail">1942-1943 (interim)</span></p>
<p class="listh3">Harry Nixon <span class="detail">1943-1944</span></p>
<p class="listh3">Mitchell Hepburn <span class="detail">1944-1945 (second time)</span></p>
<p class="listh3">Farquhar Oliver <span class="detail">1945-1950</span></p>
<p class="listh3">Walter Thomson <span class="detail">1950-1954</span></p>
<p class="listh3">Farquhar Oliver <span class="detail">1954-1957 (second time)</span></p>
<p class="listh3">John Wintermeyer <span class="detail">1957-1964</span></p>
<p class="listh3">Andrew Thompson <span class="detail">1964-1967</span></p>
<p class="listh3">Robert Nixon <span class="detail">1967-1976</span></p>
<p class="listh3">Stuart Smith <span class="detail">1976-1982</span></p>
<p class="listh3">David Peterson <span class="detail">1982-1990</span></p>
<p class="listh3">Robert Nixon <span class="detail">1990-1991 (interim)</span></p>
<p class="listh3">Murray Elston <span class="detail">1991 (interim)</span></p>
<p class="listh3">Jim Bradley <span class="detail">1991-1992 (interim)</span></p>
<p class="listh3">Lyn McLeod <span class="detail">1992-1996</span></p>
<p class="listh3">Dalton McGuinty <span class="detail">1996-2013</span></p>
<p class="listh3">Kathleen Wynne <span class="detail">2013-present</span></p>
<div class="bottomspacer">&nbsp;</div>
</div>



<div style="width:50%; float:left; padding-left;80px;">


<h4>Liberal Premiers</h4>

<p class="listh3">Edward Blake <span class="detail">1871-1872</span></p>
<p class="listh3">Sir Oliver Mowat <span class="detail">1872-1896</span></p>
<p class="listh3">Arthur S. Hardy <span class="detail">1896-1899</span></p>
<p class="listh3">Sir George William Ross <span class="detail">1899-1905</span></p>
<p class="listh3">Mitchell Hepburn <span class="detail">1934-1942</span></p>
<p class="listh3">Gordon Daniel Conant <span class="detail">1942-1943</span></p>
<p class="listh3">Harry Nixon <span class="detail">1943</span></p>
<p class="listh3">David Peterson <span class="detail">1985-1990</span></p>
<p class="listh3">Dalton McGuinty <span class="detail">2003-2013</span></p>
<p class="listh3">Kathleen Wynne <span class="detail">2013-present</span></p>

</div>

<div style="clear:both;display:block;">&nbsp;</div>


<%# pass in pageimageholder background class and main column id and submenu %>
<% content_for :backgroundclass do %>wynne_mpp<% end %>	
<% content_for :main_id do %>history_main<% end %>
<% content_for :col4content do %><%= render "shared/sub_menu_about" %><% end %>



