
<h1>Kathlen Wynne</h1>
<h2>Biography</h2>
<p>Kathleen Wynne was elected Leader of the Ontario Liberal Party on January 26, 2013. She was sworn in as the 25th Premier on February 11, 2013, becoming the first woman to hold the position in Ontario's history.

</p><p>Kathleen has demonstrated leadership, energy, and an ability to bring opposing sides to the table to find real, creative solutions to complex challenges.

</p><p>Bringing people together and finding common ground is what Kathleen's whole public life has been about - as a School Trustee, and as a board member of grassroots community organizations such as the Fairlawn Avenue United Church and the Senior Peoples Resources in North Toronto.

</p><p>As a conflict mediation practitioner, Kathleen ran a small business for 10 years and has taught mediation in schools across Ontario. Kathleen holds Master's degrees in Linguistics and in adult education respectively from the University of Toronto and the Ontario Institute for Studies in Education (OISE). She has also completed mediation training at Harvard University, and used her mediation skills and experience to implement conflict mediation programs in over 60 schools across the province in the 1990s. Kathleen is a committed community volunteer, having taught English as a Second Language, and provided mediation services to several community organizations.

</p><p>As Minister of Education in the McGuinty Government, Kathleen worked closely with our education partners to improve Ontario schools and give our children the best possible start - full-day kindergarten, smaller class sizes, increased graduation rates, and increased test scores.

</p><p>As Minister of Transportation, Kathleen created jobs and boosted the economy by overseeing one of the largest transit and infrastructure expansions in Ontario history, including the Highway 407 East Extension and the Windsor-Essex Parkway. Kathleen put in place the basis for a more efficient transportation grid to tackle gridlock, including major transit expansion in the Greater Toronto and Hamilton Area.

</p><p>After the Eglinton-Scarborough LRT was put at risk, Kathleen brought together the Mayor of Toronto, Metrolinx, and the TTC to ensure its construction - saving the $8.4 billion transit investment. That same year, Kathleen introduced the new Ontario Photo Card, providing government I.D. to 1.5 million Ontarians who either don't drive or can't drive, many of them facing health and financial challenges.

</p><p>As the Municipal Affairs and Housing, Kathleen finalized a new funding agreement with the federal government to improve access to affordable housing and provided province-wide social assistance support. Last June, Kathleen worked with the NDP to pass Bill 19, making life more affordable for over 1 million Ontario tenants by capping rent increases. As Minister of Aboriginal Affairs, Kathleen worked in partnership with First Nations communities, addressing issues such as mining development and First Nations land claims, and improving quality of life for aboriginals living off-reserve through affordable housing and recreation programs.

</p><p>Kathleen has three children, Chris, Jessie and Maggie, and two granddaughters, Olivia and Claire. Kathleen and her partner Jane have lived in North Toronto for more than twenty-five years.
</p>

