/*  --------------- EVENTS PAGE ------------------------*/
/*  --------------- see notes below --------------------*/
#eventholder_centre {
margin-top: 10px;
padding-top: 5px;
padding-bottom: 5px;
width:500px;
}

.eventdate {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: 1.8em;
        color: #999;
        text-align: left;


}

.rightcolumncontainer .eventdate {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: 1.8em;
        color: #666666;
        text-align: left;
        padding-top: 2px;

}
.eventtitle {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.0em;
        color: #666666;
        text-align: left;
        padding-top: 2px;
        margin-top: 2px;
        margin-bottom: 4px;


}
.event_email  {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        line-height: 1.5em;

}

.eventdescription  {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        line-height: 1.5em;


}

#eventholder a:link, #eventholder a:link, {
color: #666666;
text-decoration: none
}

#eventholder a:hover, #eventholder a:active {
text-decoration: underline;
}

