<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add file</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts_for_body do %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#user_email').blur( function() {
                console.log('unique email check');
                $.get("<%= validate_user_url %>", { email: $('#user_email').val() })
            });

            $("#user_postal_code").blur( function() {
                $.getJSON("<%= find_riding_url %>", {search: $("#user_postal_code").val()})
                        .done(function(data){
                            $("#riding_box").html(data.name);
                        });
            });
            $('.date_picker').datepicker();
        });

    </script>
<% end %>