<ul id="attachments">
  <% unless @attachments.nil? %>
    <% @attachments.each do |attachment| %>
      <li>
        <%= link_to attachment.title attachment.pdf %>
        <br/>
        <%= link_to("Delete pdf", attachment_path(attachment), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-danger')  %>
      </li>
    <% end %>
  <% end %>
</ul>

</br>
<div id="form_placeholder"></div>

<%= link_to "Add Pdf", new_attachment_path, remote: true %>