<div id="inside_column_main">

	<div class="sectionheaderbig">
		<h1>Executive Council of Ontario</h1>
	</div>

	<div id="storywrapperlarge" style="margin-bottom:40px;">
		<!------- HERE ARE THE CLASSES FOR THE DATA REPEATER -------->
		<!------- DON'T FORGET THE FRAME CLASS ON IMG -------->
		<% @cabinet_mpps.each do |cabinet_mpp| %>
			<% if cabinet_mpp.cabinet_minister_en != nil && cabinet_mpp.cabinet_minister_en != '' %>
				<div class="photolist last">
					<img src="/photos/mpp/mpp_photos/<%= (cabinet_mpp.riding_id + 9000).to_s %>_thumbnail.jpg" class="frame" >
					<div style="height:280px;">
						<div class="listh1"><%= cabinet_mpp.first_name %> <%= cabinet_mpp.last_name %></div>
						<p><%= raw(cabinet_mpp.cabinet_minister_en) %></p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

</div>
