<h1>About Donations</h1>
<p>There are many ways to get involved in the political process, and giving a donation is one of the easiest. It doesn't have to be expensive: as little as $5 will help the Ontario Liberal Party continue to fight for stronger schools and hospitals, and a better future for all of us.

<p>In Ontario, all parties rely on donations from people like you to develop policy, communicate our vision, and mount election campaigns. At the local level, riding associations need money to engage grassroots Ontarians and run campaigns for local candidates. While political parties rely heavily on volunteers, elections are expensive. And the stakes are high: they're our schools, our hospitals, our environment, our economy, and our future.</p>

<p>That's why it's so important to donate to the Ontario Liberal Party. We are the only party that will protect health care and education, while strengthening our economy and managing responsibly to reduce the deficit. We have a record that we're proud of: since we were elected in 2003, more people have a family doctor; health care wait times are now the best in Canada; more kids are going on to higher education or a trade; full-day kindergarten is helping kids get the best start; a healthier environment; better infrastructure; and fiscal responsibility in paying down the deficit.</p>

<p>We've had challenges, but together we're making progress. If you share our values, we would appreciate your support. As an added incentive, political donations in Ontario are tax deductible: a donation of $75 will only cost you $19 in the end. Please give now.</p>

<p>Donate $10, $20, or any amount that you can. Thank you for your support! </p>
