        *
        {
            margin: 0;
            padding: 0;
        }
        html
        {


        }
        body
        {
            margin: 0px auto;
            height:auto;
            overflow: scroll;
            background: url(imgA1/bg_bodyrepeater.jpg);
            background-repeat: repeat;
            background-position: center top;


        }

#topwrapper_home {
        position:relative;
        text-align:left;
        width:989px;
        height:265px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
        }

#topwrapper_inside {
        position:relative;
        text-align:left;
        width:989px;
        height:210px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
}

#ridingname {
        clear:left;
        font-family: 'Francois One', sans-serif;
        font-size: 38px;
            font-weight: 400;
        line-height: 30px;
        color: #fff;
        margin-bottom:2px;
        top: 50px;
        position: relative;
        margin-left:103px;
}

#provincialliberalassocation {
        font-family: 'Francois One', sans-serif;
            font-size: 17px;
                font-weight: 300;
                letter-spacing:2px;
                color: #4c4b48;
        clear:left;
        top: 94px;
        position: relative;
        margin-left:300px;
}

#homeheader {
        clear:left;
        margin-bottom:2px;
        top: 0px;
        position: absolute;
        right:4px;
}

#homeheaderREV {
        display:none;
        clear:left;
        margin-bottom:2px;
        top: 0px;
        position: absolute;
        left:-4px;
}

#candidatename {
        clear:left;
        margin-bottom:2px;
        top: 6px;
        position: absolute;
        left:-4px;
}

#candidatenameREV {
        display:none;
        clear:left;
        margin-bottom:2px;
        top: 5px;
        position: absolute;
        left:10px;
}

        #bodywrapper1
        {
            margin: 0px auto;
            height:636px;
            width:100%;
            background: url(imgA1/header_en.jpg);
            background-repeat: no-repeat;
            background-position: center top;

}


        #bodywrapper1_inside {
            margin: 0px auto;
            height:auto;
            width:100%;
            background: url(imgA1/header_en_inside.jpg);
            background-repeat: no-repeat;
            background-position: center top;

        }
        #bodywrapper2
        {
            padding-top: 160px;
            margin: 0px auto;
            padding-top: 160px;
            width:960px;

}
#wrapper {
        text-align:left;
        width:1014px;
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
        }
#pagecap {
margin-left:auto;
margin-right:auto;
        background-image: url(img/bg_bottomcap.gif);
        background-repeat: no-repeat;
        background-position: center top;
        height:2px;
        width:990px;
}
    #endcap
        {
            clear:left;
            display:block;
            width:100%;
            text-align:center;
            margin-left:0px;
            margin-right:0px;
            height:20px;



        }
     #footer
        {   padding-top:10px;
            clear:left;
            width:100%;

            text-align:center;
            margin-left:0px;
            margin-right:0px;
            height:119px;
            background-color:#1f1f1f;
            background: url(imgA1/bg_footer.jpg);
            background-repeat: repeat-x;
            background-position: center top;


        }


#twitter_update_list span
{
        display:block;
        padding-top:20px;
}
#twitter_update_list
{
        padding-bottom:20px;
}
