<div class="divPageTitle"><label class="lblTitleSection"><h1>Executive Council</h1></label></div><br>

<div>
  <p><strong>President</strong><br>
    Siloni Waraich</p>

  <p><strong>Executive Vice-President</strong><br>
    Peter Curtis</p>

  <p><strong>Treasurer</strong><br>
    Vinay Shandal</p>

  <p><strong>Secretary</strong><br>
    Nikki Holland</p>

  <p><strong>Operational Vice-President (Policy)</strong><br>
    Sumi Shanmuganathan</p>

  <p><strong>Operational Vice-President (Organization)</strong><br>
    Jackie Choquette</p>

  <p><strong>Operational Vice-President (Communications)</strong><br>
    Greg Crone</p>

  <p><strong>Operational Vice-President (Engagement)</strong><br>
    Niloo Boroun</p>

  <p><strong>Regional Vice-President (Northern Region)</strong><br>
    André Bisson</p>

  <p><strong>Regional Vice-President (Eastern Region)</strong><br>
    Lisa Stilborn </p>

  <p><strong>Regional Vice-President (Central Region)</strong><br>
    Lorenzo Catuzza</p>

  <p><strong>Regional Vice-President (Toronto Region)</strong><br>
    Todd Ross</p>

  <p><strong>Regional Vice-President (South Central Region)</strong><br>
    Carol Price</p>

  <p><strong>Regional Vice-President (Southwestern Region)</strong><br>
    Kathryn McGarry</p>

  <p><strong>Immediate Past President</strong><br>
    Hon. Yasir Naqvi</p>

  <p><strong>Leader</strong><br>
    Hon. Kathleen Wynne</p>

  <p><strong>Ontario Young Liberals President</strong><br>
    Michelle Johnston</p>

  <p><strong>Ontario Women's Liberal Commission President</strong><br>
    Melanie Hickey</p>

</div>