<h1>Donation Limits</h1>


<p>In each year, any person, corporation or trade union may contribute up
to $9,300 to Ontario Liberal Party. Also, you may contribute up to
$1,240 to any of our constituency association, but the total
contribution to all Ontario liberal constituency associations must not
exceed $6,200. This means the maximum annual political contribution
allowed in a non-election year is $15,500 to each registered party and
its constituency associations. </p>

<p>During an election you may make extra contributions. At
election time, you may give up to an additional $9,300 to Ontario
Liberal Party and up to $1,240 to any Ontario Liberal Party candidate
so long as the total contribution to all Ontario Liberal Party
candidates does not exceed $6,200.</p>

<table class="pure-table">
<thead>
<tr>
<th align="center">Maximum Contributions </th>
<th colspan="2" align="center">Annually </th>
<th colspan="2" align="center">Extra During a <br>
Campaign Period </th>
</tr>
</thead>
<tbody>
<tr>
<th>&nbsp; </th>
<th align="center">Each </th>
<th align="center">Total </th>
<th align="center">Each </th>
<th align="center">Total </th>
</tr>
<tr>
<td>To Provincial Party </td>
<td colspan="2" align="center">$9,300 </td>
<td colspan="2" align="center">$9,300 </td>
</tr>
<tr>
<td>To Constituency Association </td>
<td align="center">$1,240 </td>
<td align="center">$6,200 </td>
<td colspan="2" align="center">NIL </td>
</tr>
<tr>
<td>To Candidate </td>
<td colspan="2" align="center">NIL </td>
<td align="center">$1,240 </td>
<td align="center">$6,200 </td>
</tr>
</tbody>
</table>
<br>
