<div id="inside_column_main" style="min-height:600px;">

		<div class="sectionheaderbig" style="margin-top:25px;">
			<h1>Commissions</h1>
		</div>	</br>	

<div id="storywrapperlarge">

<h3><a href="http://www.oyl.org/" target="_blank">Ontario Young Liberals</a></h3>

<p>The Ontario Young Liberals (OYL) is an organization of like-minded 
adolescents and young adults dedicated to improving the lives of all Ontarians. 
The Ontario Young Liberals play an increasingly vital role in both the Ontario 
Liberal Party and the Liberal Party of Canada, as the ever growing membership of 
the OYL represents the voice of youth, change, progress, and renewal for our 
party.</p>

<p>The OYL is comprised of youth from across the province, organized in both 
Riding Clubs and Student Clubs. The Executive works together to plan events 
throughout the year in different locations across the province, for both 
political and social endeavours. Through active membership in the OYL, students 
and members have the opportunity to meet with, and volunteer for local members 
and candidates. </p>
<p>With the increased political focus on the youth of today, the Ontario Young 
Liberals are more important than ever for the future of our party. As 
demonstrated during the May 2010 Collingwood Youth Conference, Ontario's young 
people have grand visions for the future of our province. With myriad number of 
ways to get involved with the Ontario Young Liberals, there are no shortage of 
opportunities for politically-minded youth across Ontario to have an active say 
in the future of this bright, vibrant province. </p>
<p>If you would like to get involved with the Ontario Young Liberals, and have 
an active voice in the political process, please visit <a class="readmore" href="http://www.oyl.org/" target="_blank">http://www.oyl.org/</a>. </p>
<br />

<h3><a href="http://owlc.lpco.ca/" target="_blank">Ontario Women's Liberal Commission</a></h3>

<p>The Ontario Women's Liberal Commission is a dynamic organization committed to 
strengthening the voice of women in not only the Liberal Party, but also the 
governments of Ontario and Canada.</p>

<p>The aim of the OWLC is to bring equal representation of women in the Ontario 
Legislature by encouraging their active participation in the Liberal Party, 
strengthening women's presence and helping them grow as activists.</p>

<p>Together, we educate, discuss, formulate positions, and lobby both within the 
party and among all Canadians to strengthen the voice of women.</p>

<p>As Liberals, we are committed to equality and therefore, by bringing to 
debate issues of concern to women, we work to bring about equality of women in 
Canada.</p>

<div class="bottomspacer">&nbsp;</div>

</div>
</div>
