<br><h2>Test</h2>
<br>
<h2>Mailchimp is free</h2>

<p>More than 5 million people use <a href="http://mailchimp.com/" target="top">MailChimp</a> to design and send email marketing campaigns. If you're already using mailchimp then call us and we can plug your enewsletter subscription form into your preferred mailing list today.</p>
<br>
<p>Once you've signed up for a free account, it's as simple as this...</p>
<br><br>
<iframe src="//www.youtube.com/embed/Ia-Ztk1v5F8?rel=0" allowfullscreen="" frameborder="0" height="340" width="600"></iframe>
<br><br>
<p>If you need a hand uploading your contacts, give me a call 416 326 2568</p>

</div>
