<div id="inside_column_main" style="min-height:600px;">

		<div class="sectionheaderbig" style="margin-top:25px;">
			<h1>Executive Council</h1>
		</div>	</br>	

<div id="storywrapperlarge" style="width:260px; float:left;">



<div class="listh1">Hon. Yasir Naqvi </div>
<div class="detail last">Immediate Past President </div>

<div class="listh1">Hon. Kathleen Wynne</div>
<div class="detail last">Leader</div>

<div class="listh1">Derek Teevan</div>
<div class="detail last">Executive Vice-President</div>

<div class="listh1">Yvan Baker</div>
<div class="detail last">Secretary</div>

<div class="listh1">Derek Teevan</div>
<div class="detail last">Executive Vice-President</div>

<div class="listh1">Peter Curtis</div>
<div class="detail last">Operational Vice-President (Organization)</div>

<div class="listh1">Christine McMillan</div>
<div class="detail last">Operational Vice-President (Communications)</div>

<div class="listh1">Sumi Shanmuganathan</div>
<div class="detail last">Operational Vice-President (Engagement)</div>


</div>


<div id="storywrapperlarge" style="width:260px; float:left; margin-left:80px;">



<div class="listh1">Anthony Leek</div>
<div class="detail last">Regional Vice-President (Northern Region) </div>

<div class="listh1">Lisa Stilborn</div>
<div class="detail last">Regional Vice-President (Eastern Region)</div> 

<div class="listh1">Jamie Rilett</div>
<div class="detail last">Regional Vice-President (Central Region)</div> 

<div class="listh1">Todd Ross</div>
<div class="detail last">Regional Vice-President (Toronto Region)</div>

<div class="listh1">Carol Price</div>
<div class="detail last">Regional Vice-President (South Central Region)</div>

<div class="listh1">Kathryn McGarry </div>
<div class="detail last">Regional Vice-President (Southwestern Region)</div>

<div class="listh1">Kevin Leung</div>
<div class="detail last">Ontario Young Liberals President</div>
 
<div class="listh1">Amy Carroll</div>
<div class="detail last">Ontario Women's Liberal Commission President</div>



</div>
</div>
