<div id="index_data">
<h2>Recent Transactions</h2>
      <% @transactions.each do |transaction| %>
        <div class="listperson">
		  <span class="avatar"><img src="../assets/defaultavatar.png"></span>
            <p class="name"><%= transaction.first_name %> <%= transaction.last_name %></p>
            <p class="email"><%= transaction.email %></p>
			<div class="hrbreake7e6e7">&nbsp;</div>
			<p>Status: Member? | Cumulative: $xx | Count: xx</p>
			<div class="hrbreake7e6e7">&nbsp;</div>
			<div class="transdeets">
			Amt:<br><span class="bigdata">$<%= transaction.get_total %></span>
			</div>
			
		</div>	
      <% end %>
</div>	

