	#browserInfo{
		padding:6px;
		position:relative;
		border:1px solid blue;
		width:300px;
		float:left;
		top:55px;
	}

/* -------------------- */
/* SECTION ONE ---------*/
/* LOAD FONTS  ---------*/
/* -------------------- */

/* -------------------- */
/* SECTION TWO ---------*/
/* GLOBAL RESETS -------*/
/* -------------------- */

/* -------------------- */
/* SECTION THREE -------*/
/* MINI MENU -----------*/
/* -------------------- */

/* -------------------- */
/* SECTION FOUR --------*/
/* GLOBAL CONSTRUCTORS--*/
/* ---------------------*/

/* -------------------- */
/* SECTION FIVE --------*/
/* SOCIAL MEDIA ICONS --*/
/* ---------------------*/


/* ------ SECTION ONE ---------- LOAD FONTS ----*/

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(fonts/Oswald400.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(fonts/Oswald700.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(fonts/DroidSans400.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(fonts/DroidSans700.woff) format('woff');
}
@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('League Gothic'), local('LeagueGothic400'), url(fonts/LeagueGothic400.woff) format('woff');
}


@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/RobotoCondensed300.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(fonts/RobotoCondensed400.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(fonts/RobotoCondensed700.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(fonts/RobotoCondensedItalic300.woff) format('woff');
}

  /* Sample pallete  */

  /* bb1115   Red           */
  /* d72f30   LightRed      */
  /* f84241   HighlightRed  */
  /* 635857   DarkSwatch    */
  /* 8e7d7e   Subtitlebig   */
  /* 5c4a4a   Headlinebig   */
  

  /* 494949  textgrey  */
  /* warm white #f0ecec            */
  /* portrait bg clr #d7e6f4  */
  /* new portrait bg #e5e5e6 */
  /* shadclor for new portrait #c0c0c0  */
  
  /* Headline color #5c4a4a */
  /* Subtitle color #8e7d7e */

.hrbreake7e6e7 {
	background-image: url("images/hr_e7e6e7.gif");
	background-repeat: repeat-x;
    background-position: left center;
	width:100%;
	min-height:10px;
	clear:both;
}	

/* ----------------------------------------------------------------*/	 
/* ------------------------ SECTION TWO ---------------------------*/
/* ----------------------- GLOBAL RESETS --------------------------*/
/* ----------------------------------------------------------------*/


	
html {margin:0px; padding:0px;}	
body {
    font-family: 'Droid sans', sans-serif;
    margin: 0 auto 0;
    width: 100%;
	background-color:#e5e5e6;  
	font-size:0.9em;
}
h1,h2,h3,h4,h5,h6  {	
    font-weight:400;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0px;
	padding:0px;
	font-size:2.4em;
	}
h1 { color:#5c4a4a; line-height:102%px;}
h2 {color:#8e7d7e; line-height:102%px;}

.listright > h1, .listright > h2 {font-size:1.2em;}


h2 + h1 {padding-top:20px;}

#imageholder {margin-bottom:0px; margin-top:23px;}
.tiny {font-size:12px;}


/* ----------------------------------------------------------------*/	 
/* ------------------------ SECTION THREE -------------------------*/
/* ----------------------- MINI MENU STUFF ------------------------*/
/* ----------------------------------------------------------------*/	
/* --- See stylesheets/jquery.dropdown.css.scss for + menu classes -----*/
/* ----------------------------------------------------------------*/

#logpanel {
    width:100%; 
	height:60px; 
	background-color:white; 
	text-align:right; 
	padding-bottom:11px;
	-webkit-box-shadow: inset 0px 9px 8px -9px #c7c7c7;
    -moz-box-shadow: inset 0px 9px 8px -9px #c7c7c7;
	box-shadow: inset 0px 9px 8px -9px #c7c7c7;
		
	}
#logoandmenu {
    width:100%; 
	height:67px; 
	background-color:white; 
	-webkit-box-shadow: 0px 9px 8px -9px #c7c7c7;
    -moz-box-shadow: 0px 9px 8px -9px #c7c7c7;
	box-shadow: 0px 9px 8px -9px #c7c7c7; 	
}
#undermenu {
    width:100%; 
	height:18px; 
	background-color:#e6e6e6; 
	padding-left:16px;
	padding-top:2px;
	text-align:right;
	-webkit-box-shadow: 0px 9px 8px -9px #c7c7c7;
    -moz-box-shadow: 0px 9px 8px -9px #c7c7c7;
	box-shadow: 0px 9px 8px -9px #c7c7c7; 
	margin-bottom:8px;

}
.dropdown .dropdown-menu,
.dropdown .dropdown-panel {font-size:14px; font-family: 'Roboto Condensed', sans-serif;}
.micromenu {float:right;width:220px;margin-top:10px;padding-right:10px;}
.micromenu a:link,
.micromenu a:visited {
    font-family: 'Roboto Condensed', sans-serif;
    color:#8b8082;
    margin-bottom:25px;
    font-size:.80em;
    text-transform:none;
    text-decoration:none;
    }
.micromenu a:hover {
         text-decoration:underline;
}

.micromenu {
         text-align:right;
         float:right;
         display:inline;
         }
		 
/* ------------------------------------------------------------*/	 
/* --------------------- SECTION FOUR -------------------------*/
/* -------------- GLOBAL CONSTRUCTOR CLASSES ------------------*/
/* ------------------------------------------------------------*/		 
		 
.container { 

/* Holds the two columns and centres them  */
	max-width:1080px;
	margin-left:auto;
	margin-right:auto;
	padding-left:25px;
	padding-right:25px;
	}
#pageimageholder { 

/* Wraps container, and holds the image    */
/* at the bottom right of a slightly wider */
/* container. 'Wynne' is one of the background
/* classes that get added */ 

	margin-left:auto;
	margin-right:auto;
	max-width:1100px;
	
}
.default {
    background-image: url("images/pageimageholderdefault.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;	

}
.wynne {    
    background-image: url("aboutus.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
	}

#footer {
    background-color: #db080e;
    min-height: 500px;
    padding: 2px;
    width: 100%;
	z-index:99;
	background-image: url("images/redbottomborder.jpg");
	background-repeat:repeat-x;
	background-position:bottom center;
}
#trigger {width:50px; height:50px; background-color:red;}
#footertrigger {
    background-color:red;
    padding: 1px;
    width: 100%;
	z-index:2000;
	height:3px;		
}
.main {
    width: 64%;
	float:left;
	min-height:700px;
	border-right:solid 1px #cccccc;
	border:solid 1px green;
}
.maincontainer {width:97%;}
#col8picblocker {
	min-height:395px;
	width:30%;
	float:right;

}

.col-4 {
    width: 34%;
	min-width:100px;
    margin-left: 10px;
	float:right;
	min-height:600px;
	overflow:hidden;
	z-index:1;
	position:static;
	top:400px;
	padding-top:50px;
		border:solid 1px yellow;
}

.clear {display:block; clear:both;}

.col5 {
width:18%;
float:left;
min-height:100px;
margin-top:26px;
}
.col5 + .col5 {margin-left:2%;}

.activated {background-color: #2b4170;}
.fixed {position: static; top: 166px;}
.static {position: static; top: 166px;}



/* ---------------------------------------------------------------*/	 
/* ------------------------ SECTION FIVE -------------------------*/
/* --------------------- SOCIAL MEDIA ICONS ----------------------*/
/* ---------------------------------------------------------------*/	


#socialmediaicons {
   float:right;
   width:200px;
   padding:0px;
   margin:0px;
   margin-top:6px;
   background: url(../images/social.jpg);
   background-repeat: no-repeat;
   background-position: center top;
}
#socialmediaicons ul {padding:0px; margin:0px; font-size:0; word-spacing: 0; line-height: 0;}
#socialmediaicons li {
   cursor: pointer;
   display:inline-block;
   zoom: 1;
   *display: inline;
   list-style:none;
   padding:0px;
   margin:0px;
   height:33px;
        }
#socialmediaicons li.facebook {width:37px;}
#socialmediaicons li.twitter {width:30px;}
#socialmediaicons li.flickr {width:30px;}
#socialmediaicons li.youtube {width:30px;}
#socialmediaicons li.fred {width:30px;}
#socialmediaicons li.linkedin {width:37px;}

#socialmediaicons li.facebook,
#socialmediaicons li.twitter,
#socialmediaicons li.flickr,
#socialmediaicons li.youtube,
#socialmediaicons li.fred,
#socialmediaicons li.linkedin
 {
   padding: 0;
   margin: 0;

}
#socialmediaicons li:hover {
   background-repeat: no-repeat;
}
#socialmediaicons li.facebook:hover {background: url("../images/socialovr.jpg");background-position: -2px 0px;}
#socialmediaicons li.twitter:hover {background: url("../images/socialovr.jpg");background-position: -39px 0px;}
#socialmediaicons li.flickr:hover {background: url("../images/socialovr.jpg");background-position: -69px 0px;}
#socialmediaicons li.youtube:hover {background: url("../images/socialovr.jpg");background-position: -99px 0px;}
#socialmediaicons li.fred:hover {background: url("../images/socialovr.jpg");background-position: -129px 0px;}
#socialmediaicons li.linkedin:hover {background: url("../images/socialovr.jpg");background-position: -159px 0px;}


		 
		 
/*----------------------*/	 
/* STYLING FOR NEWS PIC */
/*----------------------*/	

.dropshadow {
   background-image:url("../images/dropshadow.png");
   background-position:center top;
   background-size:99%;
   background-repeat:no-repeat;
   min-height:20px;
   height:20px;
   width:100%;
   clear:both;
   display:block;
   margin:0px;
   padding:0px;
}

.drop-shadow {
    position:relative;
    float:left;
    padding:4px; 
    margin-top:11px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow img {width:100%; height:100%;}
.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}


/* Lifted corners */

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}		 

.float { display: block; position: fixed; }    
#float-1 { top: 23px; right:50%; margin-right:-1000px;} 
#float-2 { top: 700px; width:100%; } 
#float-3 { top: 2250px; width:100%; } 
.content { position: relative; z-index: 2; }
.opening { 
          min-height:390px; 
          height:390px; 
          background:none; 
          margin-bottom:20px;
          }


.droparrow {
    border-top: 4px solid #404040;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
}

.flexslider {
    -moz-box-sizing: border-box;
	}
.rotatorheadline {
    color: #FFF;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 102%;
    text-shadow: 0px 1px 1px #333;
    padding-bottom: 5px;
}
.rotatorsub, .rotatorsub a:link, .rotatorsub a:visited {
    color: #FFF;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 102%;
    text-shadow: 0px 1px 1px #333;
    padding-bottom: 5px;
	text-decoration:none;
}

.sectionbreak {
    background-color:red;
    -moz-border-radius:4px; 
         border-radius:4px;
}

img.grayscale {
/* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  Firefox 10+, Firefox on Android */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.763 0.214 0.021 0 0 0.063 0.914 0.021 0 0 0.063 0.214 0.721 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(60%) contrast(120%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
img.grayscale:hover {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1.157 -0.143 -0.014 0 0 -0.042 1.057 -0.014 0 0 -0.042 -0.143 1.185 0 0 0.8 0 0 1 0\'/></filter></svg>#grayscale");
 -webkit-filter: grayscale(0%);
}


threeup.img.grayscale {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%) contrast(120%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
threeup.img.grayscale:hover {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
-webkit-filter: grayscale(0%);
filter: hue-rotate(90deg)
}
.threeup {
    width: 32.33%;
    float: left;
    -moz-box-sizing: border-box;
}
.threeup img {
    width: 100%;
	display:block;
	background-color:#fff;
	padding:2px;
}

.threeup + .threeup {margin-left:1.3%;}

.col5 > h1 {
    font-family: 'Droid sans',sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.02em;
    line-height: 103%;
    color: #FFF;	
}
.col5 > p {
    font-family: 'Droid sans',sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.02em;
    line-height: 103%;
    color: #FFF;	
}
.reverse {color: #FFF;}
a.reverse:link,a.reverse:hover,a.reverse:visited {
     color: #FFF;
	 text-decoration:none;
	 }
a.reverse:hover {text-decoration:underline;}	 
#sitemenusecondary {margin-left:20px;}
.mobile {display:none;}


.logo {position:relative; top:-5px; z-index:888; width:250px; margin-left:16px;}
.mgmenu {clear:right;}
.mgmenu_container { margin-top:-65px;}
@media all and (max-width: 768px) {
.logo {position:relative; top:10px; z-index:0; width:250px; border:solid 1px red; display:block;}
.mobile {display:block;}
/* the menu will pop to mobile mode at this point */
.main {width:100%}
.col-4{display:none;}	  
	  
  }	
