<%= javascript_include_tag 'searchbox' %>

<div id="search_box">
    <p>Search for user</p>
    <input type="search" id="user_search" data-remote="true" />
</div>
<h3>Users</h3>
<div id="results" class="span8">
    <%= render partial: 'admin/users/user_list' %>
</div>

<div id="loading">
  <%= image_tag 'ajax-loader.gif' %>
</div>

<script>
  $('#user_search').searchbox({ url: '<%= admin_search_users_path %>.js'});
</script>