<ul>
  <li>
    <%= link_to remote "donations", :url => "#{olpadmin_transactions_url}?scope='donations'", :method => :get  %>
  </li>
</ul>

<h1>Listing transactions</h1>

<div id="index_data"></div>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
