<h1>New lawnsign_request</h1>

<%= render 'form' %>

<% content_for :scripts_for_header do %>
    <%= javascript_include_tag 'lawnsign_requests' %>
    <%= stylesheet_link_tag 'lawnsign_requests' %>
<% end %>
