<h1>Logo index</h1>
<p>Find me in app/views/logo/index.html.erb</p>


<div style="position:relative;">
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/Wynne_Headshot-Reg-HIRES.jpg"target="_blank"><img src="http://www.ontarioliberal.ca/NewsBlog/media/Wynne_Headshot_Link.jpg" alt="Kathleen Wynne" class="frame" /></a>
        <div style="position:absolute; top:50%; left:250px;">
        <h4>Kathleen Wynne</h4>
        <p><a href="http://www.ontarioliberal.ca/NewsBlog/media/Wynne_Headshot-Reg-HIRES.jpg" target="_blank">Download high resolution jpeg </a></div></p>
    </div>
    <br />


    <div style="position:relative;">
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_bighorizontal.jpg" target="_blank"><img src="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_226x112.jpg" alt="Ontario Liberal Logo" class="frame" /></a>
        <div style="position:absolute; top:50%; left:250px;">
        <p><a href="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_bighorizontal.jpg"target="_blank">Download Logo </a></div></p>
    </div>
    <br />

    <div style="position:relative;">
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_bighorizontalFR.jpg" target="_blank"><img src="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_226x112FR.jpg" alt="Ontario Liberal Logo" class="frame" /></a>
        <div style="position:absolute; top:50%; left:250px;">
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/NewLogo_bighorizontalFR.jpg"target="_blank">Download Logo</a></div>
    </div>
    <br />


    <div style="position:relative;">
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/FacebookAvatar.jpg" target="_blank"><img src="http://www.ontarioliberal.ca/NewsBlog/media/FacebookAvatar.jpg" alt="Download facebook-sized logo" class="frame" /></a>
        <a href="http://www.ontarioliberal.ca/NewsBlog/media/FacebookAvatar-inverted.jpg" target="_blank"><img src="http://www.ontarioliberal.ca/NewsBlog/media/FacebookAvatar-inverted.jpg" alt="Download facebook-sized logo" class="frame" /></a>
        <div style="position:absolute; top:50%; left:410px;">
        <h4>Update your Facebook and Twitter<br>profile with our logo</h4>
        <p><a href="http://www.ontarioliberal.ca/NewsBlog/media/FacebookAvatar.jpg" target="_blank">Download Logo sized for facebook</a></p>
    </div>


