<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Oakville Provincial Riding Association</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

<meta name="keywords" content="Ontario Liberal Party" />
<meta name="description" content="This is the official site of the Ontariio Liberal Party. Get involved locally with the Ontario Liberals. Find local liberals in Ontario" />

<meta property="og:title" content="OLP" />
<meta property="og:type" content="politician" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="OLP" />
<meta property="fb:admins" content="100003812622252,686700080,552055122" />
<meta property="og:description" content="OLP" />

<link href="/stylesheets/backgroundA1_en.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/columnsA1_en.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/fontA1_en.css" media="screen" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300italic,300' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript">
    var addthis_config = {
        pubid: "ra-5150c0b15241e409"
    }
</script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            multilanguagePage: true
        }, 'google_translate_element');
    }
</script>

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3724256-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js" charset="utf-8"></script>

<script type="text/javascript">
   var addthis_config = {
      data_ga_property: '',
      data_track_clickback: true
   };
</script>

<script>
    var $ = jQuery.noConflict();
    jQuery(document).ready(function(){
    $('#mm_news').hide();
    $('#mm_photos').hide();
    $('#mm_donate').hide();

    $('#mm_navbullet_home').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_about_us').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_riding').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_news').mouseover(function(){
        $('#mm_news').show('5');
        //$('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_events').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_photos').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').show('5');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_issues').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_videos').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_volunteers').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').hide('2');
    });

    $('#mm_navbullet_donate').mouseover(function(){
        $('#mm_news').hide('2');
        $('#mm_photos').hide('2');
        $('#mm_donate').show('5');
    });

    $('#mm_navbullet_membership').mouseover(function(){
        $('#mm_news').hide('5');
        $('#mm_photos').hide('5');
        $('#mm_donate').hide('5');
    });

    $('#mm_navbullet_contacts').mouseover(function(){
        $('#mm_news').hide('5');
        $('#mm_photos').hide('5');
        $('#mm_donate').hide('5');
    });

    $('#mm_navbullet_enewsletter').mouseover(function(){
        $('#mm_news').hide('5');
        $('#mm_photos').hide('5');
        $('#mm_donate').hide('5');
    });

        $('#mm_news').bind('mouseleave', hide_mm_news);
        $('#mm_photos').bind('mouseleave', hide_mm_photos);
        $('#mm_donate').bind('mouseleave', hide_mm_donate);

    });

    function hide_mm_news(){$('#mm_news').hide('2');}
    function hide_mm_photos(){$('#mm_photos').hide('2');}
    function hide_mm_donate(){$('#mm_donate').hide('2');}
</script>

<link rel="stylesheet" href="http://pantone201.ca/WebSkins/newpla/css/NivoSliderthemes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://pantone201.ca/WebSkins/newpla/css/NivoSliderthemes/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://pantone201.ca/WebSkins/newpla/css/Nivojs/jquery.nivo.slider.pack.js"></script>


<script type="text/javascript">
    $(window).load(function() {
                 $('#slider').nivoSlider({
                            effect:'fade',
                            slices:15,
                            animSpeed:900,
                            pauseTime:6000,
                            directionNav:true, //Next & Prev
                            directionNavHide:true, //Only show on hover
                            controlNav:true, //1,2,3...
                            pauseOnHover:false, //Stop animation while hovering
                            captionOpacity:.7 //Universal caption opacity
                    });
        });
</script>

<!-- <script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
    
});
</script> -->




<!--
9060
oakville.pla.myliberal.org
-->
</head>

<body>


<div id="bodywrapper1">


    <div id="topwrapper_home">
 
        <div id="bilingual_site" style="position:relative; z-index:200;">
        </div>

		<div id="homeheader">

<!--						<img alt="Oakville" src="http://pantone201.ca/webskins/newpla/css/homeheader/A1/oakville.png" />
-->

			<div id="navmicro">
			</div>

			<div id="ridingname">Oakville</div>
			<div id="provincialliberalassocation">
			Provincial Liberal Association</div>
			
<%= link_to "Connect With Facebook", "/auth/facebook" %>
		</div>

		<div id="navigation_home">
			<ul id="navbullets">
<li id="mm_navbullet_home"><a href="/pHome">Home</a></li>
<li id="mm_navbullet_about_us"><a href="/pAboutUs">About us</a></li>
<li id="mm_navbullet_riding"><a href="/pAboutRiding">Riding</a></li>
<li id="mm_navbullet_donate"><a href="https://contribute.ontarioliberal.ca/Home/Donate?origin=PLA&SS=1&EDID=9060" target="_blank">Donate</a></li>
<li id="mm_navbullet_membership"><a href="https://contribute.ontarioliberal.ca/Home/Join?SS=1&EDID=9060" target="_blank">Membership</a></li>
<li id="mm_navbullet_volunteers"><a href="/pVolunteer">Volunteer</a></li>
<li id="mm_navbullet_news"><a href="/pNews">News</a></li>
<li id="mm_navbullet_events"><a href="/pEvent">Events</a></li>
<li id="mm_navbullet_photos"><a href="/pPhoto">Photos</a></li>
<li id="mm_navbullet_videos"><a href="/pVideo">Video</a></li>
<li id="mm_navbullet_enewsletter"><a href="/pEnewsletter">Enewsletter</a></li>
</ul>
<div id="subnavbullets">
<ul>
</ul>
</div>

                <div id="mm_news" class="popundernavigation">
                    <div class="mmcol" style="float:left; width:260px; padding:20px;">
                        <h2>Recently added</h2>
            <h3><a href="/pDocument/1012">Giving Kids a Healthier Start</a></h3><h3><a href="/pDocument/1010">Strongest Year Ever for Ontario's Film and Television Industry</a></h3><h3><a href="/pDocument/1006">Strengthening Co-op Housing Protections</a></h3>
                            <br />
                            <h2><a href="/pNews">All News</a></h2>
                        </div>
                        <div class="mmcol" style="float:left; width:260px; padding:20px;">
                            <h1>Popular Topics</h1>
                            <!-- <p><a href="/pNews?pc=12">Agriculture</a></p> -->
                            <!-- <p><a href="/pNews?pc=4">Crime and Community Safety</a></p> -->
                            <p><a href="/pNews?pc=3">Economy and Jobs</a></p>
                            <p><a href="/pNews?pc=1">Environment</a></p>
                            <!-- <p><a href="/pNews?pc=11">Government Efficiency</a></p> -->
                            <p><a href="/pNews?pc=5">Education</a></p>
                            <!-- <p><a href="/pNews?pc=8">Green Energy</a></p> -->
                            <p><a href="/pNews?pc=6">Healthcare</a></p>
                            <!-- <p><a href="/pNews?pc=10">Immigration Services</a></p> -->
                            <!-- <p><a href="/pNews?pc=7">Infrastructure</a></p> -->
                            <!-- <p><a href="/pNews?pc=2">Job/Wages</a></p> -->
                            <!-- <p><a href="/pNews?pc=9">Tax Reform</a></p> -->
                            <!-- <p><a href="/pNews?pc=14">Transit</a></p> -->
                        </div>
                    </div>
                

                        <div id="mm_photos" class="popundernavigation">
                            <div class="mmcol" style="float:left; width:260px; padding:20px;">
                                <h1><a href="/pPhoto" target="_self">Photo of the Day</a></h1>
                                <div id="megathumbdiv" style="margin-bottom:-16px;"><a href="/pPhoto" target="_self"><img border="0" src="http://pantone201.ca/webskins/pla/photos/517_60__TFMF_aislnvfjhp0wcjvr3pebcqbd_78fe939d-feff-4a9b-af0d-8697c9caff9c_0_PhotoUp.jpg" width="240" height="150" /></a></div>
                                <p style="clear:both; display:block;">Run or Walk with Jan's Team</p>
                            </div>
                            <div class="mmcol" style="float:left; width:260px; padding:20px;">
                                <h1 style="padding-bottom:10px;">Available Galleries</h1>
                    <p><a href="/pPhoto?pg=6">Local News</a></p><p><a href="/pPhoto?pg=23">Stock</a></p>
                                <p><a href="/pPhoto">View all ...</a></p>
                            </div>
                            <div class="mmcol" style="float:left; width:260px; padding:20px;">
                                <h1><a href="/pPhoto" target="_self">Photo of the Day from Ontario Liberal</a></h1>
                                <div id="megathumbdiv" style="margin-bottom:-16px;"><a href="/pPhoto" target="_self"><img border="0" src="http://pantone201.ca/webskins/olp/photos/1043_0__TFMF_cxhodq55mjzrn345dwr1ea55_3de42209-22ef-498a-b4df-62ef405537ec_0_PhotoUp.jpg" width="180" height="110" /></a></div>
                                <p class="caption">Premier Wynne, Minister Sousa and Minister Hoskins talk with business leaders at a roundtable discussion on jobs and the economy at the Ontario Investment and Trade Centre in Toronto.</p>
                            </div>
                        </div>
                    

                <div id="mm_donate" class="popundernavigation">
                    <div class="mmcol" style="float:left; width:260px; padding:20px;">
                        <h1><a href="https://contribute.ontarioliberal.ca/Home/Donate?origin=PLA&SS=1&EDID=9060" target="_blank">Donate Now</a></h1>
                        <p>Your donation will make a real difference!</p>
                        <a href="https://contribute.ontarioliberal.ca/Home/Donate?origin=PLA&SS=1&EDID=9060" target="_blank"><img src="http://pantone201.ca/webskins/pla/css/img/donationimage.png" border="0" width="260" /></a>

                    </div>
                    <div class="mmcol" style="float:left; width:260px; padding:20px;">
                        <h1><a href="https://contribute.ontarioliberal.ca/home/abc?edid=9060&origin=PLA" target="_self">Make a Monthly Contribution (ABC)</a></h1>
                    	<p>By joining the Ontario Liberal Party&#039;s <a href="/pAbcMember" target="_self">ABC Plan</a>, your membership will be renewed automatically. <a href="/pAbcMember" target="_self">[Read more]</a></p>
                        <br/>
                        <h1><a href="/pAboutDonations" target="_self">About Donations</a></h1>
                        <p>Thanks to your hard work, and the hard work of all Ontarians, Ontario is back on track.
                        <a href="/pAboutDonations">See how your donations make a difference ...</a></p>
                    </div>
                    <div class="mmcol" style="float:left; width:260px; padding:20px;">
                        <h1><a href="/pTaxableBenefits" target="_self">Taxable Benefits</a></h1>
                        <p>Making a difference costs less than you might think; if you gave $300.00 you'd get back $225.00 at tax time.
                        <a href="/pTaxableBenefits">Read more about taxable benefits, donation limits and eligibility criteria...</a></p>
                    </div>
                </div>
            

		</div>   <!-- end navigation div -->
    </div>  <!-- end top wrapper -->

    <div id="wrapper" style="display:block; position:relative;">
    

<div id="home_column_main" style="clear:left;">

    <%= yield %>

    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <a href="/pNews/154?l=EN"><img src="http://www.service201.ca/photos/pla/518_60__TFMF_jkdstmyt3yeexp55gpqmiv45_c4da4e85-e1b3-41ef-aaaf-ba0f712042fe_0_PhotoUp_707x366.jpg" title="#nivoslider-373-caption-154" alt="Jan's Team" /></a>
                <a href="/pDocument/579?l=EN"><img src="http://www.service201.ca/photos/olp/881_0__TFMF_mj1rj045kjuk0g55ws5i2k55_6e9a7b3b-087b-4ed6-af1a-7cd443690c53_0_PhotoUp_707x366.jpg" title="#nivoslider-373-caption-579" alt="Fall Economic Statement" /></a>
                <a href="/pDocument/590?l=EN"><img src="http://www.service201.ca/photos/olp/886_0__TFMF_sn4tga55ea2bzm55hhf2ny55_603188b2-1589-49c6-867f-305ef8eebb8f_0_PhotoUp_707x366.jpg" title="#nivoslider-373-caption-590" alt="Progress 2011: Economy and Families" /></a>
                <a href="/pDocument/605?l=EN"><img src="http://www.service201.ca/photos/olp/896_0__TFMF_dqwk3ka2dyf1tnydmcymw455_bf42346d-941b-4332-846e-790afa87ad10_0_PhotoUp_707x366.jpg" title="#nivoslider-373-caption-605" alt="30% Off Ontario Tuition" /></a>
                <a href="/pDocument/601?l=EN"><img src="http://www.service201.ca/photos/olp/892_0__TFMF_zzispvjydwstteqsdote4wiu_1bd4e52e-2fd2-4ac3-9060-559e592154f2_0_PhotoUp_707x366.jpg" title="#nivoslider-373-caption-601" alt="30% Off Ontario Tuition" /></a>
            </div>
                <div id="nivoslider-373-caption-154" class="nivo-html-caption"><span class="rotatortitle">Jan's Team</span><span class="rotatorsubtitle"></span></div>
                <div id="nivoslider-373-caption-579" class="nivo-html-caption"><span class="rotatortitle">Fall Economic Statement</span><span class="rotatorsubtitle"></span></div>
                <div id="nivoslider-373-caption-590" class="nivo-html-caption"><span class="rotatortitle">Progress 2011: Economy and Families</span><span class="rotatorsubtitle">Helping Ontario families and businesses get back on track </span></div>
                <div id="nivoslider-373-caption-605" class="nivo-html-caption"><span class="rotatortitle">30% Off Ontario Tuition</span><span class="rotatorsubtitle"></span></div>
                <div id="nivoslider-373-caption-601" class="nivo-html-caption"><span class="rotatortitle">30% Off Ontario Tuition</span><span class="rotatorsubtitle">McGuinty Government Making Postsecondary Education More Affordable </span></div>
    </div>
    
    <div class="sectionheaderbig" style="margin-top:50px; margin-left:30px; width:707px; clear:right;">
    <h1>News</h1>
    </div>

    <div class="threebitwrappermain" style="margin-top:10px; margin-left:30px;">

                <div class="storywrapper227">
                        <div class="storywrapperimg227"><a href="/pDocument/992?l=EN"><img alt="1051_0__tfmf_zywtb055tijj3055xhrblu45_259a1f38-dbef-4e48-bc53-f12968cc5914_0_thumbnail" src="http://pantone201.ca/webskins/olp/photos/thumbnails/1051_0__TFMF_zywtb055tijj3055xhrblu45_259a1f38-dbef-4e48-bc53-f12968cc5914_0_Thumbnail.jpg" /></a></div>
                    <h1><a href="/pDocument/992?l=EN">Creating Jobs and Investing in Ontario&#8217;s Opportunities</a></h1>
                    <h2><a href="/pDocument/992?l=EN">Premier Wynne and Ontario Liberals outlined their way forward to build a stronger economy, with more good-paying jobs and a fair society for the benefit of all.</a></h2>
                    <p class="first"><p>Premier Wynne and our Ontario Liberal team hit the ground running to strengthen our economy and create more jobs across the province.</p></p>              
                </div>      
                <div class="storywrapper227">
                        <div class="storywrapperimg227"><a href="/pDocument/986?l=EN"><img alt="1049_0__tfmf_araos2mkvz41ct45ghakb4ad_fd0ba629-c327-4eca-9d60-16387859f442_0_thumbnail" src="http://pantone201.ca/webskins/olp/photos/thumbnails/1049_0__TFMF_araos2mkvz41ct45ghakb4ad_fd0ba629-c327-4eca-9d60-16387859f442_0_Thumbnail.jpg" /></a></div>
                    <h1><a href="/pDocument/986?l=EN">The Way Forward</a></h1>
                    <h2><a href="/pDocument/986?l=EN">Ontario Liberals opened the second session of the 40th Parliament, laying out a strong plan to create more jobs, make the minority government work and make life a little bit easier for Ontarians</a></h2>
                    <p class="first"><p>Today, as we began the second session of the 40th Parliament of Ontario, our new Ontario government laid out our priorities building a strong job-creation economy, making the minority parliament work, and making life a little easier here in Ontario, fo</p>              
                </div>      
                <div class="storywrapper227">
                        <div class="storywrapperimg227"><a href="/pDocument/984?l=EN"><img alt="1044_0__tfmf_kqq02k55uafbho45dqy130vw_36af194f-12c5-4b7c-99ba-a793988eae6a_0_thumbnail" src="http://pantone201.ca/webskins/olp/photos/thumbnails/1044_0__TFMF_kqq02k55uafbho45dqy130vw_36af194f-12c5-4b7c-99ba-a793988eae6a_0_Thumbnail.jpg" /></a></div>
                    <h1><a href="/pDocument/984?l=EN">Creating Opportunities for Ontario Jobs</a></h1>
                    <h2><a href="/pDocument/984?l=EN">Premier Wynne holds her first Jobs Roundtable, hosted by the Ontario Chamber of Commerce</a></h2>
                    <p class="first"><p>Premier Wynne joined Finance Minister Charles Sousa, Minister of Economic Development, Trade and Employment, Eric Hoskins, and business leaders to discuss the need to create jobs, strengthen Ontario's economy and build a fair society, for the benefit o</p>              
                </div>      
    </div>  <!-- end of threebitwrapper -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div><!-- end home_colum_main -->


<div id="home_column_three">
        <div class="sectionheader">
            <h1>Our MPP</h1>
            <h2>Kevin Flynn</h2>
        </div>
        <div class="storywrapperimg254">
            <img src="http://pantone201.ca/webskins/mppsmallcrop/FlynnK_smallcrop.jpg" />
        </div>  
		<div class="storywrapper254">
			<p>See Kevin's biography on <a href="http://www.ontarioliberal.ca/OurTeam/WhoWeAre/Detail.aspx?Riding=Oakville">OntarioLiberal.ca</a></p>
			<p>Visit Kevin's Constituency <a href="http://KevinFlynn.onmpp.ca">website</a>.</p>
		</div>      
            

		<div class="modulebreak"> </div>

    
    <div class="modulebreak"> </div>


    <div class="sectionheader">
        <h1>Our Premier</h1>
        <h2>Kathleen Wynne</h2>
    </div>          

    <div class="storywrapper254">
        <div class="storywrapperimg254">
            <img src="http://pantone201.ca/webskins/mppsmallcrop/Premier_smallcrop.jpg">
        </div>
        <p>
            Follow Kathleen on 
            <a href="http://twitter.com/OntLiberal" target="_blank">twitter</a>
            and 
            <a href="http://www.facebook.com/OntarioLiberalParty" target="_blank">facebook</a>.
             And check out the Ontario Liberal YouTube Channel.
        </p>
    </div>  
    <a href="http://www.facebook.com/OntarioLiberalParty" target="_blank"><img src="http://pantone201.ca/webskins/mpp/css/img/icon_twitter_mini.png" alt="Twitter" /></a>
    <a href="http://twitter.com/OntLiberal" target="_blank"><img src="http://pantone201.ca/webskins/mpp/css/img/icon_facebook_mini.png" alt="Facebook" /></a>
    <a href="http://www.youtube.com/OntarioLiberalTV" target="_blank"><img src="http://pantone201.ca/webskins/mpp/css/img/icon_youtube_mini.png" alt="YouTube" /></a>


    <img src="http://pantone201.ca/webskins/vote/css/img/logo.png" alt="Ontario Liberal Logo" style="margin-top:20px; width:220px;" />

<!--


-->

</div> <!-- home_column_three -->

<div style="clear:both;">&nbsp;</div>

    
    </div><!--closes mainwrapper column -->
</div><!--closes wrapper -->

<div id="endcap" style="clear:both;">&nbsp;</div>

<div id="footer" style="display:block; clear:both;">
    <span class="defaultbody small reverse">
        <label for="label_footer">Copyright © 2012 Ontario Liberal Party - Authorized by the CFO for the Ontario Liberal Party</label>
    </span>
    <div id="google_translate_element"></div>
</div>

</body>
</html>
